* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

header iframe {
    width: 100%;
    height: 65px;
}

footer iframe {
    height: 100px;
    width: 100%;
}