* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2a2a2a;
    height: 100%;
}

.header_left {
    display: flex;
    align-items: center;
    width: 50%;
}

.icon_logo {
    height: 100%;
}

.header_tags {
    font-weight: 400;
    margin-left: 20px;
}

.header_texto {
    color: rgb(233, 233, 233);
}

.header_texto:hover {
    transition: all .4s;
    text-decoration: underline;
    color: #778899;
    cursor: pointer;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100%;
}

.input {
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 35%;
    height: 100%;
    margin-right: 20px;
}

.input_bar {
    padding-left: 10px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    outline: none;
    width: 90%;
    height: 30px;
}

.lupa:hover .cor_lupa {
    cursor: pointer;
    fill: #778899;
}

.login_link {
    margin-right: 20px;
    color: rgb(233, 233, 233);
}

.login_link:hover {
    text-decoration: underline;
}

main {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rosybrown;
}

.banner {
    display: flex;
    width: 75%;
}

.banner_img {
    height: 100%;
    width: 85%;
    border-radius: 12px;
}

.slides {
    margin-left: 10px;
    width: 15%;
}

.banner_caixa {
    width: 100%;
    height: 20%;
}

.banner_caixa_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.85;
    border: transparent;
}

.banner_caixa_img:hover {
    transition: all .4s;
    opacity: 1;
    cursor: pointer;
    border: 2px solid transparent;
}