* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #24292f;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 65px;
    background-color: #2a2a2a;
}

.header_rigth {
    height: 100%;
}

.header_left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.icon_logo {
    height: 100%;
}

.cor_icon_logo {
    fill: #2465a7;
}

.icon_logo:hover .cor_icon_logo {
    cursor: pointer;
    fill: #1b5288;
    transition: all 0.6s;
}

.header_tags {
    font-weight: 400;
    font-size: 24px;
    margin-left: 20px;
}

.header_texto {
    color: rgb(233, 233, 233);
    text-decoration: underline transparent;
}

.header_texto:hover {
    transition: all .6s;
    text-decoration: underline;
    color: #778899;
    cursor: pointer;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100%;
}

.input {
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 35%;
    height: 80%;
    margin-right: 20px;
}

.input_bar {
    padding-left: 10px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    outline: none;
    width: 90%;
    height: 100%;
}

.lupa {
    margin-right: 10px;
}

.lupa:hover .cor_lupa {
    cursor: pointer;
    fill: #778899;
}

.button_login {
    height: 80%;
    padding: 10px;
    background-color: #336cc9;
    border-radius: 5px;
    border: none;
}

.button_login:hover {
    cursor: pointer;
}

.login_link {
    margin-right: 20px;
    color: rgb(233, 233, 233);
}

.login_link:hover {
    text-decoration: underline;
}

#banner {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #24292f;
}

.banner {
    display: flex;
    width: 75%;
    margin-bottom: 3%;
}

.banner_img {
    height: 100%;
    width: 85%;
    border-radius: 12px;
}

.banner_img:hover {
    cursor: pointer;
}

.slides {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
    width: 15%;
}

.banner_caixa {
    width: 100%;
    height: 20%;
    margin-bottom: 5px;
}

.banner_caixa_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.70;
    border: transparent;
}

.banner_caixa_img:hover {
    transition: all .4s;
    opacity: 1;
    cursor: pointer;
    border: 1px solid transparent;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jogo_destaque {
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
}

.caixa_jogo_destaque {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.img_destaque_1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.descricao {
    width: 60%;
    height: 100%;
    padding: 20px;
    color: rgb(179, 178, 178);
}

.resumo {
    margin-bottom: 10px;
}

.descricao_texto {
    font-size: 14px;
}

.joguinhos_caixas {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 20px;
}

.caixa_jogo {
    width: 20%;
    padding: 10px;

}

.img_destaque {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(179, 178, 178);
}

.lista {
}

ul {
    text-align: center;
    list-style-type: none;
}

footer iframe {
    height: 100px;
    width: 100%;
}